 # ignore all files starting with .
\.*

# include .gitignore (i.e. do NOT ignore)
!.gitignore

# ignore bower/node/gulp/composer dependencies
bower_components/
node_modules/
npm-debug.log
vendor/

# ignore wordpress core
wp/

# ignore gulp generated css
wp-content/themes/*/assets/css/*.css

# ignore server-specific files
.htaccess
wp-config.php

# ignore IDE files
.idea/

# ignore OS files
.DS_Store
.trashes
.localized
